
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
#container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container .navbar .tombol {
  background-color: #dc3545;
}
header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #354144;
  height: 80px;
}

h3 {
  font-size: 30px;
  color: #ddd;
  margin-left: 10px;
}

#input-container {
  margin-bottom: 20px;
}

#name-input,
#email-input,
#update-name-input,
#update-email-input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#name-input:focus,
#email-input:focus,
#update-name-input:focus,
#update-email-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.cta {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(0,136,169,1);
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.cta:hover {
  background-color: rgba(0,136,169,0.8);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

#update-container {
  display: none;
  margin-top: 20px;
}

#update-btn {
  background-color: #2196F3;
}

#cancel-btn {
  background-color: #f44336;
}

.edit-btn{
  background-color: #ffc107;
}

.delete-btn{
  background-color: #dc3545;
  margin-left:10px;
}






@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(219, 219, 219);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}
.tombol {
  background-color: rgb(103, 202, 45);
  width: 60px;
  height: 30px;
  margin-left: 30px;
  color: #f5fdff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 12%;
}

.tombol:hover {
  background-color: rgb(198, 21, 21);
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;
}
.search_box{
  display: flex;
  align-items: center;
}
.search_box input{
  padding: 9px;
  width: 250px;
  background: rgb(228, 228, 228);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search_box i{
  padding: 0.66rem;
  cursor: pointer;
  color: #fff;
  background: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* Side menubar section */
nav{
  background: #fff;
}
.side_navbar{
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.side_navbar span{
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}
.side_navbar a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.links{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a{
  font-size: 13px;
}
.side_navbar a:hover{
  background: rgb(235, 235, 235);
}
.side_navbar .active{
  border-left: 2px solid rgb(100, 100, 100);
}

/* Main Body Section */
.main-body{
  width: 70%;
  padding: 1rem;
}
.promo_card{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  height: 100px;
  background: rgb(37, 37, 37);
  margin-left: 20px;
  padding: 20px 0;
}
.promo_card h1, .promo_card span, button{
  margin: 10px;
}
.promo_card button{
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.history_lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
table{
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}
table td, th{
  padding: 0.2rem 0.8rem;
}
table th{
  font-size: 15px;
}
table td{
  font-size: 13px;
  color: rgb(100, 100, 100);
}



/* Sidebar Section */
.sidebar{
  width: 15%;
  padding: 2rem 1rem;
  background: #fff;
}
.sidebar h4{
  margin-bottom: 1.5rem;
}
.sidebar .balance{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.balance .icon{
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 1rem;
  padding: 1rem;
  background: rgb(37, 37, 37);
}
.balance .info h5{
  font-size: 16px;
}
.balance .info span{
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.balance .info i{
  margin-right: 2px;}


  @import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========= VARIABLES ========== */
:root {
  --primary-clr: #6c467a;
  --primary-clr-alt: #d6c0e3;
  --second-clr: #026d85;
  --second-clr-alt: #027c97;
  --text-clr: #f5fdff;
  --nav-txt-clr: var(--text-clr);
  --text-clr-bg: #f5fdff;
  --bg-clr: #2d4253;
  --mobile-menu-bg-clr: #3e586d;
  --sec-two-bg-clr: var(--mobile-menu-bg-clr);
  --form-bg-clr: #dcf1ff70;
  --form-focus-bg-clr: #bf93cf73;
  --gray-clr: #f5f8fa;
  --product-bg-clr: #364f63;
  --bx-shadow-clr: #6d477b33;
}


/* ------------ BASE ------------ */
body {
  scroll-behavior: smooth;
  font-family: "Pompiere", cursive;
  font-size: 1.2rem;
  color: var(--text-clr);
  background: url("/rpl-project/image/bg.jpg");
  background-repeat:no-repeat;
  transition: background-color 1000ms;
}

ul {
  list-style: none;
}
img {
  height: auto;
  width: 100%;
}
.pos-abs-center {
  position: absolute;
}
.s-definition {
  font-size: calc(27 * 0.06rem);
  max-width: 32rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
/* -- transitions -- */
.clr-transition {
  transition: color 1000ms;
}
.bg-clr__transition {
  transition: background-color 1s;
}
/* ================= */
/* -- buttons -- */
.button {
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  color: var(--text-clr-bg);
}
.btn-primary {
  background-color: var(--primary-clr);
}
.btn-second-alt {
  background-color: transparent;
  border: thin solid var(--text-clr);
  color: var(--text-clr);
}
/* ================= */

.container {
  padding: 1.8rem 3rem;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
@media screen and (min-width: 3000px) {
  .container {
    padding: 1.8rem 500px;
  }
}

/* ------------------------- */

/* -------- HEADER -------- */
header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: var(--nav-txt-clr);
  font-size: 2.3rem;
  text-decoration: none;
  margin-right: 2rem;
}

.tombol {
  background-color: rgb(103, 202, 45);
  width: 60px;
  height: 30px;
  margin-left: 30px;
  color: #f5fdff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 12%;
}

.tombol:hover {
  background-color: rgb(198, 21, 21);
}
.nav-items {
  display: flex;
  margin-right: 5rem;
}
.nav-item {
  margin-right: 3rem;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--nav-txt-clr);
  text-decoration: none;
  font-size: 1.7rem;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary-clr-alt);
  bottom: 0;
  transform: scaleX(0);
  transition: 150ms transform;
}
.nav-link:hover::before {
  transform: scaleX(1);
}
.phone-social-links {
  display: none;
}
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
  }
  .theme-toggler {
    color: var(--text-clr-bg);
  }
  .nav-items {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .nav-link {
    color: var(--text-clr-bg);
    font-size: 2rem;
  }
  .navbar {
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--mobile-menu-bg-clr);
    position: absolute;
    padding: 0.5rem 5rem 1rem 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    top: 5rem;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms;
  }
  .show-nav {
    transform: scaleX(1);
  }
}
/* ----- ----------- ------ */
.social-links {
  display: flex;
  align-items: center;
}
.social-links ul {
  display: flex;
}
.social-links ul li {
  margin-right: 1.5rem;
}
.social-links ul li:last-child {
  margin-right: 0;
}
.nav-icon {
  cursor: pointer;
  color: var(--nav-txt-clr);
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .nav-icon {
    color: var(--text-clr-bg);
  }
}
.line-divider {
  height: 0.05rem;
  width: 1rem;
  background-color: var(--nav-txt-clr);
  margin: 0 0.5rem;
  border-radius: 10rem;
}

@media screen and (max-width: 768px) {
  .theme-toggler {
    color: var(--text-clr-bg);
  }
}
.theme-toggler:hover {
  transform: rotate(60deg);
}
.bxs-moon {
  display: none;
}
.menu-togglers {
  cursor: pointer;
  display: none;
}
.menu-toggle {
  color: var(--nav-txt-clr);
  font-size: 3rem;
}
.bx-menu,
.bx-x {
  pointer-events: none;
}
.bx-x {
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu-togglers {
    display: block;
  }
}
@media screen and (min-width: 700px) {
.developer {
    margin-top: 2rem;
    display: flex;
    flex-wrap:wrap-reverse;
    text-align: center;
}

.developer-one img {
    max-width: calc(200 * 0.06rem);
    margin-right: 30px;
}
.developer-two img {
  max-width: calc(150 * 0.06rem);
   margin-right: 30px;
}
.developer-three img {
    max-width: calc(130 * 0.06rem);
    margin-right: 30px;
}
.developer-four img {
    max-width: calc(160 * 0.06rem);
    margin-right: 30px;
}
}
/* -------- SECTION ONE: Hero section -------- */
.section-one {
  height: 81.5vh;
}
@media screen and (max-width: 846px) {
  .section-one {
    height: 74vh;
  }
}
@media screen and (max-width: 845px) {
  .section-one {
    height: 68vh;
  }
}
@media screen and (max-width: 546px) {
  .section-one {
    height: 74vh;
  }
}
.hook-container {
  margin-top: 2rem;
}
@media screen and (max-width: 348px) {
  .hook-container {
    margin-top: 0rem;
  }
}
.hook-title {
  font-size: 4rem;
  line-height: 117%;
  max-width: 50rem;
  color: var(--text-clr);
  transition: font-size 1000ms;
}
.hook-sub_title {
  font-size: 30px;
  line-height: 157.5%;
  color: var(--text-clr);
}
@media screen and (min-width: 414px) {
  .hook-title {
    font-size: 92px;
  }
}
.hero-btns-container {
  margin-top: 2rem;
  opacity: 0;
}
.in-btn-icon {
  font-size: 1rem;
}
.btn-hero {
  border-radius: 50px;
  font-size: 0.8rem;
  transition: box-shadow 300ms;
  margin-right: 0.1rem;
}
@media screen and (min-width: 358px) {
  .btn-hero {
    margin-right: 2rem;
    font-size: 0.9rem;
  }
}
.btn-hero:last-child {
  margin-right: 0;
}
.btn-hero:hover {
  box-shadow: 5px 5px var(--text-clr);
}
.hero-lady-img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  transition: width 1000ms;
}
@media screen and (min-width: 546px) {
  .hero-lady-img {
    display: block;
    width: 250px;
  }
}
@media screen and (min-width: 654px) {
  .hero-lady-img {
    width: 320px;
  }
}
@media screen and (min-width: 980px) {
  .hero-lady-img {
    width: 400px;
  }
}
.hand-hole-cake-img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  transition: width 1000ms;
}
@media screen and (max-width: 845px) {
  .hand-hole-cake-img {
    bottom: 1rem;
  }
}
@media screen and (max-width: 414px) {
  .hand-hole-cake-img {
    display: none;
  }
}
@media screen and (max-height: 656px) {
  .hand-hole-cake-img {
    display: none;
  }
}

@media screen and (min-width: 546px) {
  .hand-hole-cake-img {
    width: 120px;
  }
}

/* -------- SECTION TWO: About section -------- */
.section-two {
  background-color: var(--sec-two-bg-clr);
}
.s-two-upper-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.s-two-slogan {
  font-size: 1.5rem;
  max-width: 15rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
@media screen and (max-width: 846px) {
  .section-two {
    margin-top: 5rem;
  }
  .s-two-slogan {
    margin-bottom: 2rem;
  }
}
.s-two-products {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
  .s-two-products {
    margin-top: 4rem;
  }
}
.product {
  cursor: pointer;
  /* From https://css.glass */
  background: rgba(54, 79, 99, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  width: 100%;
  height: calc(421 * 0.06rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 1000ms;
}
@media screen and (max-width: 1147px) {
  .product {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 700px) {
  .product {
    width: calc(365 * 0.06rem);
  }
}
.product:hover {
  transform: rotateY(360deg);
}
.product-one img {
  max-width: calc(300 * 0.06rem);
 
}
.product-two img {
  max-width: calc(300 * 0.06rem);
}
.product-three img {
  max-width: calc(300 * 0.06rem);
}
@media screen and (min-width: 700px) {
  .product {
    width: calc(365 * 0.06rem);
  }
}
.product .price {
  top: 0;
  left: 0;
  margin: 1rem;
}

.product .buy-btn {
  cursor: pointer;
  bottom: 0;
  left: -0.1rem;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  color: var(--text-clr-bg);
  background-color: var(--primary-clr);
  clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.product .buy-btn:hover {
  text-decoration: underline;
}
.product .name {
  bottom: 0;
  right: 0;
  margin: 1rem;
  color: var(--text-clr);
}
.product .name b {
  color: var(--primary-clr-alt);
}

/* ----- section three: Ad products section ----- */
.section-three {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 843px) {
  .section-three {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1023px) {
  .section-three {
    margin-bottom: 0;
  }
  .section-three {
    align-items: flex-start;
    background: url(/rpl-project/image/bg.jpg);
  }
}

.s-three-upper-img-container img {
  width: 100%;
  margin-bottom: 1.3rem;
  transition: width 1000ms;
}
@media screen and (min-width: 992px) {
  .s-three-upper-img-container img {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 515px) {
  .s-three-upper-img-container img {
    width: calc(400 * 0.06rem);
  }
}
.s-three-lower-container {
  display: flex;
  flex-direction: column;
}
.s-three-title {
  font-size: 2.5rem;
  max-width: 20rem;
  margin-bottom: 1.5rem;
  color: var(--primary-clr-alt);
}
.s-three-desc {
  margin-bottom: 1.5rem;
}
.s-three-price {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.ad-buy-btn {
  max-width: calc(147 * 0.06rem);
  margin-top: 0.8rem;
  background-color: var(--primary-clr);
  color: var(--text-clr-bg);
  transition: box-shadow 300ms;
}
.ad-buy-btn:hover {
  box-shadow: 5px 5px var(--text-clr);
}

/* ----- section four: oath section ----- */
.section-four {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  background: url("https://raw.githubusercontent.com/r-e-d-ant/eCream/10f900e25c09257926b5c2a00a5d22262723bc5b/assets/images/emp_vect.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: top;
}
@media screen and (min-width: 843px) {
  .section-four {
    flex-wrap: nowrap;
  }
}

.s-four-title {
  max-width: 30rem;
  margin-bottom: 1rem;
}
.employer-info {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.employer {
  margin-bottom: 1rem;
}
@media screen and (min-width: 252px) {
  .employer {
    margin-bottom: 0;
  }
}
.employer .name {
  color: var(--primary-clr-alt);
  font-size: 1.3rem;
}
.employer .title {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.rate img {
  width: 100px;
}

/* ----- section five: promo section ----- */
.section-five {
  z-index: -1;
  background: rgba(108, 70, 122, 0.1);
}
.promo-card {
  display: flex;
  position: relative;
  padding: 1rem 1rem 13rem 1rem;
  background: linear-gradient(
    153.18deg,
    rgba(108, 70, 122, 0.5) 54.24%,
    rgba(108, 70, 122, 0) 100%
  );
}
.promo-card img {
  z-index: -1;
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width 1000ms;
}
@media screen and (min-width: 678px) {
  .promo-card img {
    z-index: 0;
    width: 250px;
  }
}
@media screen and (min-width: 912px) {
  .promo-card {
    padding: 2rem;
    margin-top: 5rem;
    background: linear-gradient(
      90deg,
      rgba(108, 70, 122, 0.5) 54.24%,
      rgba(108, 70, 122, 0) 100%
    );
  }
  .promo-card img {
    width: 280px;
  }
}
.promo-title {
  font-size: 2rem;
  max-width: 20rem;
}
.promo-description {
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
.promo-btn {
  width: 30%;
}

/* ----- footer section ----- */
/* ---- contact form ---- */
footer {
    background-color: rgb(73, 73, 73);
}
.contact-form {
  margin-bottom: 3rem;
}
.footer-title {
  color: var(--text-clr);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.form-control {
  display: flex;
  flex-direction: column;
}
.form-label {
  color: var(--text-clr);
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}
.all-input {
  color: var(--text-clr);
  background-color: var(--form-bg-clr);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: box-shadow 300ms, color 300ms;
}
.all-input:focus {
  box-shadow: 0 0 1px 3px var(--form-focus-bg-clr);
}
.normal-input {
  height: 3.5rem;
}
.textarea-input {
  padding-top: 1rem;
  height: 250px;
}
.send-msg-btn {
  width: 80%;
  height: 3.5rem;
  font-size: 1.2rem;
}


/* ---------------------- */

.other-footer-infos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.footer-info {
  color: var(--text-clr);
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-right: 0.8rem;
  margin-bottom: 0.5rem;
}
.footer-info i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
  color: var(--text-clr);
}
.footer-social-links {
  margin-top: 2rem;
}

@media screen and (min-width: 1080px) {
  .footer-info {
    font-size: 1.2rem;
  }
  .footer-info i {
    font-size: 1.4rem;
  }
  .footer-social-links ul .bx {
    font-size: 1.4rem;
  }
}

/* ---- lower footer ---- */
.lower-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 1rem;
}
@media screen and (min-width: 449px) {
  .lower-footer {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #f5f8fa;
    color: black; */
  }
}
.lower-footer::before {
  content: "";
  position: absolute;
  top: 0;
  height: 0.08rem;
  width: 100%;
  opacity: 0.2;
 
}
.lower-footer-elt {
  margin-bottom: 1rem;
}
@media screen and (min-width: 449px) {
  .lower-footer-elt {
    margin-bottom: 0;
  }
}
.developer {
  margin-right: 1rem;
}
.copy,
.developer,
.policy {
  color: var(--text-clr);
  font-size: 1.2rem;
}
.developer a,
.policy a {
  color: var(--primary-clr-alt);
}

@media screen and (min-width: 1024px) {
  .developer,
  .policy {
    font-size: 1.1rem;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
body {
    font-family: "Carrois Gothic", sans-serif;
    background: url(/rpl-project/image/bg.jpg);
    background-repeat: no-repeat;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-left: 130px;
    font-size: 50px;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"],
input[type="time"],
input[type="number"],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e7e970;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
  background: url(/loginPage/image/bg.jpg);
  background-repeat: no-repeat;
	overflow-x: hidden;
}

a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #000000;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
  color:  #34495e;
}

h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
 
}
.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
.center-wrap .pp {
  margin-top: -27px;
  padding-bottom: 5px;
}

.form-group{
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #090909;
  background-color: #ffffff;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #494646;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group svg {
  position: relative;
  top: -40px;
  float: left;
  left: 20px;
}
.btn{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}