* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container .navbar .tombol {
  background-color: #dc3545;
}
header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #354144;
  height: 80px;
}

h3 {
  font-size: 30px;
  color: #ddd;
  margin-left: 10px;
}

.cta {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}
