* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.action-icons {
  cursor: pointer;
}
.action-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.action-icons a {
  text-decoration: none;
}

.action-icons img:first-child {
  margin-right: 8px;
}

#action-icons img:hover {
  border: 1px solid black;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #354144;
  height: 80px;
}

h3 {
  font-size: 30px;
  color: #ddd;
  margin-left: 10px;
}

.cta {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

form {
  width: 300px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: greenyellow;
}
button[type="button"]:hover {
  background-color: #e7e970;
}
.submit {
  width: 60px;
  height: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 12%;
  border: 1px solid black;
}

.cancel {
  width: 60px;
  height: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 12%;
  border: 1px solid black;
}
