@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========= VARIABLES ========== */
:root {
  --primary-clr: #6c467a;
  --primary-clr-alt: #d6c0e3;
  --second-clr: #026d85;
  --second-clr-alt: #027c97;
  --text-clr: #f5fdff;
  --nav-txt-clr: var(--text-clr);
  --text-clr-bg: #f5fdff;
  --bg-clr: #2d4253;
  --mobile-menu-bg-clr: #3e586d;
  --sec-two-bg-clr: var(--mobile-menu-bg-clr);
  --form-bg-clr: #dcf1ff70;
  --form-focus-bg-clr: #bf93cf73;
  --gray-clr: #f5f8fa;
  --product-bg-clr: #364f63;
  --bx-shadow-clr: #6d477b33;
}

/* ------------ BASE ------------ */
body {
  scroll-behavior: smooth;
  font-family: "Pompiere", cursive;
  font-size: 1.2rem;
  color: var(--text-clr);
  background: url("../../image/bg.jpeg") no-repeat center center fixed;
  background-size: cover;
  transition: background-color 1000ms;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

ul {
  list-style: none;
}
img {
  height: auto;
  width: 100%;
}
.pos-abs-center {
  position: absolute;
}
.s-definition {
  font-size: calc(27 * 0.06rem);
  max-width: 32rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
/* -- transitions -- */
.clr-transition {
  transition: color 1000ms;
}
.bg-clr__transition {
  transition: background-color 1s;
}
/* ================= */
/* -- buttons -- */
.button {
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  color: var(--text-clr-bg);
}

/* ================= */

.container {
  padding: 1.8rem 3rem;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
@media screen and (min-width: 3000px) {
  .container {
    padding: 1.8rem 500px;
  }
}

/* ------------------------- */

/* -------- HEADER -------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(73, 73, 73);
  z-index: 999; /* Menentukan tingkat z-indeks agar header tetap di atas elemen lain */
}

.logo {
  color: var(--nav-txt-clr);
  font-size: 2.3rem;
  text-decoration: none;
  margin-right: 2rem;
}

.tombol {
  background-color: rgb(103, 202, 45);
  width: 60px;
  height: 30px;
  margin-left: 30px;
  color: #f5fdff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 12%;
  cursor: pointer;
}

.tombol:hover {
  background-color: rgb(198, 21, 21);
}
.nav-items {
  display: flex;
  margin-right: 5rem;
}
.nav-item {
  margin-right: 3rem;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--nav-txt-clr);
  text-decoration: none;
  font-size: 1.7rem;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary-clr-alt);
  bottom: 0;
  transform: scaleX(0);
  transition: 150ms transform;
}
.nav-link:hover::before {
  transform: scaleX(1);
}
.nav-link:hover {
  color: var(--primary-clr-alt);
}
.phone-social-links {
  display: none;
}
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
  }
  .nav-items {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .nav-link {
    color: var(--text-clr-bg);
    font-size: 2rem;
  }
  .navbar {
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--mobile-menu-bg-clr);
    position: absolute;
    padding: 0.5rem 5rem 1rem 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    top: 5rem;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms;
  }
}

/* ----- ----------- ------ */
.social-links {
  display: flex;
  align-items: center;
}
.social-links ul {
  display: flex;
}
.social-links ul li {
  margin-right: 1.5rem;
}
.social-links ul li:last-child {
  margin-right: 0;
}
.nav-icon {
  cursor: pointer;
  transition: filter 0.3s ease;
}
.nav-icon img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(108%) contrast(100%);
}
.nav-icon:hover img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(7%) saturate(1573%)
    hue-rotate(218deg) brightness(95%) contrast(88%);
}

@media screen and (max-width: 768px) {
  .nav-icon {
    color: var(--text-clr-bg);
  }
}

/* -------- SECTION ONE: Hero section -------- */
.main {
  padding-top: 70px;
}
.section-one {
  height: 81.5vh;
}
@media screen and (max-width: 846px) {
  .section-one {
    height: 74vh;
  }
}
@media screen and (max-width: 845px) {
  .section-one {
    height: 68vh;
  }
}
@media screen and (max-width: 546px) {
  .section-one {
    height: 74vh;
  }
}
.hook-container {
  margin-top: 2rem;
}
@media screen and (max-width: 348px) {
  .hook-container {
    margin-top: 0rem;
  }
}
.hook-title {
  font-size: 4rem;
  line-height: 117%;
  max-width: 50rem;
  color: var(--text-clr);
  transition: font-size 1000ms;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.hook-sub_title {
  font-size: 30px;
  line-height: 157.5%;
  color: var(--text-clr);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 414px) {
  .hook-title {
    font-size: 92px;
  }
}

/* ----- section two: developer section ----- */
.section-two {
  background-color: var(--sec-two-bg-clr);
}

.about {
  padding: 7.5rem 7% 1.4rem;
  background-color: #f4f4f4;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: rgb(73, 73, 73);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.about h2 span {
  color: var(--sec-two-bg-clr);
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 1;
}

.about .row .content {
  display: flex;
  width: 45%;
  height: 15rem;
  justify-content: center;
  margin-bottom: 1rem;

  z-index: 3;
}

.about .row .content .about-img {
  position: relative;
  width: 30%;
  z-index: 3;
  left: 1rem;
  transition: all 0.3s ease;
}
.about .row .content .about-img.active {
  position: relative;
  width: 30%;
  z-index: 3;
  left: 0;
  transition: all 0.3s ease;
}

.about .row .content .about-img img {
  height: 15rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  z-index: 3;
}
.about .row .content .text {
  position: relative;
  height: 15rem;
  width: 0%;
  padding: 1rem 1rem;
  color: #fefefe;
  background-color: #222;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
}
.about .row .content .text.active {
  height: 15rem;
  width: 60%;
  left: 0;
  padding: 1rem 1rem;
  color: #fefefe;
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}

.about .row .content .text h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content .text p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6rem;
  text-align: justify;
}
.bg-link-medsos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-medsos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(73, 73, 73);
  width: 50%;
  border-radius: 1rem;
}
.link-medsos a {
  color: var(--primary);
  margin: 0;
  padding: 0.3rem 0.1rem 0 0.1rem;
}
.link-medsos a:hover {
  color: var(--bg);
}
.toggle-btn {
  position: relative;
  right: 1rem;
  width: 10%;
  height: 15rem;
  font-size: 1.2rem;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Pompiere", cursive;
  transition: all 0.3s ease;
  z-index: 3;
}
.toggle-btn.active {
  width: 10%;
  height: 15rem;
  right: 0;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Pompiere", cursive;
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background-color: #555;
}
/* ----- section three: Ad products section ----- */
.section-three {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.section-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

@media screen and (min-width: 843px) {
  .section-three {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1023px) {
  .section-three {
    margin-bottom: 0;
  }
  .section-three {
    align-items: flex-start;
    background: url("image/bg.jpg");
  }
}

.s-three-upper-img-container img {
  width: 100%;
  margin-bottom: 1.3rem;
  height: 22rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 2);
}
@media screen and (min-width: 992px) {
  .s-three-upper-img-container img {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 515px) {
  .s-three-upper-img-container img {
    width: calc(400 * 0.06rem);
  }
}
.s-three-lower-container {
  display: flex;
  flex-direction: column;
}
.s-three-title {
  font-size: 2.5rem;
  max-width: 20rem;
  margin-bottom: 1.5rem;
  color: var(--primary-clr-alt);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 2.7);
}
.s-three-desc {
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 2.7);
}
.s-three-price {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 2.7);
}
.ad-buy-btn {
  max-width: calc(147 * 0.06rem);
  margin-top: 0.8rem;
  background-color: var(--primary-clr);
  color: var(--text-clr-bg);
  transition: box-shadow 300ms;
}
.ad-buy-btn:hover {
  box-shadow: 5px 5px var(--text-clr);
}

/* -------- SECTION FOUR: Product section -------- */

.s-two-upper-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.s-two-slogan {
  font-size: 1.5rem;
  max-width: 15rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
@media screen and (max-width: 846px) {
  .section-two {
    margin-top: 5rem;
  }
  .s-two-slogan {
    margin-bottom: 2rem;
  }
}
.s-two-products {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
  .s-two-products {
    margin-top: 4rem;
  }
}

.product {
  cursor: pointer;
  /* From https://css.glass */
  background: rgba(54, 79, 99, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  width: 100%;
  height: calc(421 * 0.06rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.5s;
}
@media screen and (max-width: 1147px) {
  .product {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 700px) {
  .product {
    width: calc(365 * 0.06rem);
  }
}

@keyframes scaleHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.product:hover {
  animation: scaleHover 0.5s forwards;
}

.product-one img {
  width: calc(300 * 0.06rem);
  height: calc(300 * 0.06rem);
}
.product-two img {
  width: calc(300 * 0.06rem);
  height: calc(300 * 0.06rem);
}
.product-three img {
  width: calc(300 * 0.06rem);
  height: calc(300 * 0.06rem);
}
@media screen and (min-width: 700px) {
  .product {
    width: calc(365 * 0.06rem);
  }
}
.product .price {
  top: 0;
  left: 0;
  margin: 1rem;
}

.product .buy-btn {
  cursor: pointer;
  font-family: "Pompiere";
  font-size: 1.4rem;
  font-weight: 700;
  bottom: 0;
  left: -0.1rem;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  color: var(--text-clr-bg);
  background-color: var(--primary-clr);
  clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  border: none;
}

.product .buy-btn:hover {
  text-decoration: underline;
}
.product .name {
  bottom: 0;
  right: 0;
  margin: 1rem;
  color: var(--text-clr);
}
.product .name b {
  color: var(--primary-clr-alt);
}

/* ----- footer section ----- */
footer {
  background-color: rgb(73, 73, 73);
}

/* ---- lower footer ---- */
.lower-footer {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  position: relative;
}

@media screen and (min-width: 449px) {
  .lower-footer {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #f5f8fa;
    color: black; */
  }
}
.lower-footer::before {
  content: "";
  position: absolute;
  top: 0;
  height: 0.08rem;
  width: 100%;
  opacity: 0.2;
}
.lower-footer-elt {
  flex: 1;
  text-align: center;
}

#lower-footer-elt1 {
  text-align: left;
}

#lower-footer-elt2 {
  text-align: center;
}

#lower-footer-elt3 {
  text-align: right;
}

@media screen and (min-width: 449px) {
  .lower-footer-elt {
    margin-bottom: 0;
  }
}

.policy-link {
  color: var(--primary-clr-alt);
}
